<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="identificado" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="rounded mx-auto d-block" class="img-fluid" style="height: 200px"  alt="GESTAMP"src="https://cep-plasticos.com/sites/default/files/images/Logo%20Gestamp%202012%20Alta.jpg"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding class="form-group">
            <ion-item>
              <ion-input name="nombreUsuario" type="text" placeholder="Nombre usuario" autofocus ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="contrasena" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [disabled]="form.invalid">
            <label class="form-check-label" for="defaultCheck2">No mantener sesion iniciada</label>
          </div>
          <div padding class="form-group">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
            <a routerLink='/register'><ion-button size="large" expand="block">Resgistrarse</ion-button></a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
