<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
    <ion-button slot="end" (click)="logOut()">LogOut</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Usuarios (Tabla usuarios)</h3>
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <a href="http://localhost:8100/register"><button pButton type="button" label="New" icon="pi pi-plus"></button></a>
        <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>
        <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton>
    </div>
    
    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-search"></button>
        <button pButton type="button" (click)="showCalendar()" icon="pi pi-calendar" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
    </div>
</p-toolbar>

<p-table #dt [columns]="cols" [(visible)]="display2" [loading]="loading" (onLazyLoad)="loadData($event)" [lazy]="lazy" styleClass="ui-table-cars" [value]="usersArray" [paginator]="true" [rows]="10" dataKey="id" selectionMode="single" [(selection)]="selectedUser">
  <ng-template pTemplate="caption">
      List of Users
      <div class="ui-table-globalfilter-container">
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
      </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="width: 8em"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
          <td>{{rowData.id}}</td>
          <td>{{rowData.nombreUsuario}}</td>
          <td>{{rowData.email}}</td>
          <td><ion-toggle name="activo" color="light" [checked]="rowData.activo" (click)="modificar(rowData)"></ion-toggle></td>
          <td>
            <img src="{{rowData.img}}" style="width: 36px; margin-right: 1em; vertical-align: middle;">
          </td>
          <td>
              <button pButton type="button" (click)="showDialog(rowData)" class="ui-button-success" icon="pi pi-search" style="margin-right: .5em"></button>
              <button pButton type="button" (click)="showModalUser(rowData)" class="ui-button-warning" icon="pi pi-pencil"></button>
              <button pButton type="button" (click)="delete(rowData)" class="ui-button-danger" icon="pi pi-trash"></button>
          </td>
      </tr>
  </ng-template>
</p-table>

<p-dialog header="Detalles usuario" [transitionOptions]="'15ms'" [(visible)]="display">
    <ion-item>
      <ion-label>Id: </ion-label>
      <ion-input  [(ngModel)]="usersInfo.id" name="id" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="usersInfo.nombreUsuario" name="nombreUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="text" [(ngModel)]="usersInfo.contrasena" name="contrasena"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Activo: </ion-label>
      <ion-input type="text" [(ngModel)]="usersInfo.activo" name="activo"></ion-input>
    </ion-item>
</p-dialog>

<p-dialog header="Calendario" [transitionOptions]="'15ms'" [(visible)]="display2">
  <div id="cal"> 
    <div class="header"> 
      <span class="left button" id="prev"> &lang; </span> 
      <span class="left hook"></span> 
      <span class="month-year" id="label"> Abril 2020 </span> 
      <span class="right hook"></span> 
      <span class="right button" id="next"> &rang; </span>
    </div> 
    <table id="days">
      <td>sun</td> 
      <td>mon</td> 
      <td>tue</td> 
      <td>wed</td> 
      <td>thu</td> 
      <td>fri</td> 
      <td>sat</td>
    </table> 
    <div id="cal-frame"> 
      <table class="curr"> 
        <tbody> 
            <tr><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr> 
            <tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td class="today">11</td><td>12</td></tr> 
            <tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr> 
            <tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr> 
            <tr><td>27</td><td>28</td><td>29</td><td>30</td><td class="nil"></td><td class="nil"></td><td class="nil"></td></tr> 
        </tbody> 
      </table>
    </div> 
  </div>
</p-dialog>
</ion-content>
