<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
    <ion-button slot="end" (click)="logOut()">LogOut</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Usuarios (Tabla usuarios)</h3>
  <p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="pi pi-plus"></button>
        <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>
            
        <i class="pi pi-bars"></i>
        
        <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton>
    </div>
    
    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-search"></button>
        <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
    </div>
</p-toolbar>

<p-table #dt [columns]="cols" [loading]="loading" (onLazyLoad)="loadData($event)" [lazy]="lazy" styleClass="ui-table-cars" [value]="usersArray" [paginator]="true" [rows]="10" dataKey="id" selectionMode="single" [(selection)]="selectedUser">
  <ng-template pTemplate="caption">
      List of Users
      <div class="ui-table-globalfilter-container">
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
      </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="width: 8em"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
          <td>{{rowData.id}}</td>
          <td>{{rowData.nombreUsuario}}</td>
          <td>{{rowData.email}}</td>
          <td><ion-toggle name="activo" color="light" [checked]="rowData.activo" (click)="modificar(rowData)"></ion-toggle></td>
          <td>
            <img src="{{rowData.img}}" style="width: 36px; margin-right: 1em; vertical-align: middle;">
          </td>
          <td>
              <button pButton type="button" (click)="showDialog(rowData)" class="ui-button-success" icon="pi pi-search" style="margin-right: .5em"></button>
              <button pButton type="button" (click)="showModalUser(rowData)" class="ui-button-warning" icon="pi pi-pencil"></button>
              <button pButton type="button" (click)="delete(rowData)" class="ui-button-danger" icon="pi pi-trash"></button>
          </td>
      </tr>
  </ng-template>
</p-table>

<p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>

<p-dialog header="Detalles usuario" [transitionOptions]="'15ms'" [(visible)]="display">
    <ion-item>
      <ion-label>Id: </ion-label>
      <ion-input  [(ngModel)]="usersInfo.id" name="id" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="usersInfo.nombreUsuario" name="nombreUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="text" [(ngModel)]="usersInfo.contrasena" name="contrasena"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Activo: </ion-label>
      <ion-input type="text" [(ngModel)]="usersInfo.activo" name="activo"></ion-input>
    </ion-item>
</p-dialog>


















  <!--<table class="table table-striped">
    <thead>
      <tr class="ion-justify-content-center">
        <th>Id</th>
        <th>Nombre Usuario</th>
        <th>Contraseña</th>
        <th>Email</th>
        <th>Activo/Inactivo</th>
        <th>Img</th>
      </tr>
    </thead>
    <tbody *ngFor="let usuario of usersArray">
      <tr>
        <td>{{ usuario.id}}</td>
        <td>{{ usuario.nombreUsuario }}</td>
        <td>{{ usuario.contrasena }}</td>
        <td>{{ usuario.email }}</td>
        <td><ion-toggle name="activo" color="light" [checked]="usuario.activo" (click)="modificar(usuario)"></ion-toggle> </td>
        <td><img src="{{ usuario.img }}"/></td>
        <td><button type="button" class="btn btn-danger" (click)="delete(usuario)"> Borrar</button></td>
      </tr>
    </tbody>
  </table>-->
</ion-content>
